<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/style.css"/>
		<link rel="icon" href="/static/favicon.svg"/>
		<title>sensorPi</title>
	</head>
	<body>
        <h1> sensorPi </h1>
        <p>
            Select the date to view data from that day.
        </p>
        <form method="post">
            <label for="title">Date</label>
            <label>
                <input type="date" name="date" min={{ first_date }} max={{ last_date }} value={{ last_date }}>
            </label>
            <button type="submit">Submit</button>
        </form>
        Selected date: {{ selected_date }}
        <ul id="graphs">
            {% for graph in graphs %}
                <p><img src="{{graph}}" alt="image"></p>
            {% endfor %}
        </ul>
	</body>
</html>