<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/flask/static/style.css" />
		<link rel="icon" href="/flask/static/favicon.svg" />
		<title>sensorPi</title>
	</head>
	<body>
		<h1> Current co2 level: {{ co2 }} </h1>
		<p>
            <label>
            <input type="date" name="date" max={{ last_date }} value={{ last_date }}>
            </label>
            <input type="submit" name="request" value="Request">
        </p>
		<img src=/flask/static/dog.jpeg alt="a beagle dog">
		<ul id="images">
			{% for item in images%}
			<p><img src="{{item}}" alt="image"></p>
			{% endfor %}
		</ul>
	</body>
</html>