<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block title %}{% endblock %} - sensorPi</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}"/>
    </head>

    <body>
        <nav>
            <h1>
                <a href="{{ url_for('index') }}">sensorPi</a>
            </h1>
            <ul>
                {% if g.user %}
                    <li><a href="{{ url_for('graphs.admin') }}"> {{ g.user['username'] }} – Admin Panel</a>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                        {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Log In</a>
                {% endif %}
            </ul>
        </nav>

        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                {% if message != None %}
                    <div class="flash">{{ message }}</div>
                {% endif %}
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>

</html>