{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Graphs</h2>
    <ul id="graphs">
        {% for graph in graphs %}
            <figure>
                <img src="{{ graph }}" alt="image">
            </figure>
        {% endfor %}
    </ul>
    <ul id="stats">
        <li> co2 standard deviation: {{ co2_stdev }} </li>
        <li> temperature standard deviation: {{ temperature_stdev }} </li>
        <li> humidity standard deviation: {{ humidity_stdev }} </li>
    </ul>
{% endblock %}
